/* @import url('https://fonts.googleapis.com/css?family=Raleway'); */

@import url('https://fonts.googleapis.com/css?family=Raleway:500,700&display=swap');

@font-face {
	font-family: 'YoungSerif-Regular';
	src: url('fonts/YoungSerif-Regular.otf');
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: #ffebf0;
    margin: 0;
    padding: 0;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
 body {
    -webkit-text-size-adjust: 150%;
    }
}

@media screen and (max-device-width: 480px) { 
    body {
       -webkit-text-size-adjust: 250%;
       }
   }

.header {
    background-color: #f9d6de;
}

/* text stlyes */

h1 {
    color: #e2504f;
    font-size: 28px;
    font-family: "YoungSerif-Regular", "Times", Serif;

}

h2 {
    font-family: "Raleway", sans-serif;
    font-size: 8px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: rgb(83, 83, 83);
}

h3 {
    font-family: "YoungSerif-Regular", "Times", Serif;
    font-size: 16px;
    color: rgb(83, 83, 83);
    letter-spacing: 0.3px;

}

p {
    font-family: "Baskerville", "Times", Serif;
    font-size: 16px; 
    color: rgb(83, 83, 83);
    letter-spacing: 0.4px;
    line-height: 140%;
    margin-bottom: 10px;
}


.inline-link {
    font-style: italic;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #e2504f;
    margin-bottom: -1px;
}

figcaption {
    font-family: "Baskerville", "Times", Serif;
    font-size: 12px; 
    color: rgb(83, 83, 83);
    letter-spacing: 0.4px;
    line-height: 130%;
    margin-bottom: 10px;
    padding-top: 10px;
    font-style: italic;
}

/* grid */


.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px auto);
}

@media screen and (max-device-width: 480px), 
screen and (-ms-high-contrast: active), 
screen and (-ms-high-contrast: none),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .container p, .container .client, .container figcaption {
        margin: 50px 70px 70px 70px;
    }

    .container {
        display: block;
    }

    .container .photo-grid {
        display: block;
    }

    .container .sample {
        margin-bottom: 40px;
        margin-right: 70px;
    }

    .container .footer-nav {
        display: block;
    }

    .container .intro {
        padding-top: 170px;
    }

}

/* header */

.header {
    display: grid;
    background-color: #f9d6de;
    color: #6f6f6e;
    grid-gap: 1em;
    grid-column: 1/13;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 700px;

}

@media screen and (max-device-width: 480px), 
screen and (-ms-high-contrast: active), 
screen and (-ms-high-contrast: none),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
   .header .nav {
       display: block;
       padding: 50px 0px 50px 0px;
       text-align: center;

   } 

   .header {
       display: block;
   }

   .header .name {
       padding-bottom: 0px;
       text-align: center;
       display: none;
   }

}
}


.header > div {
    padding: 1em;
}

.name {
    grid-column: 1/8;
}

.name > h1 {
    padding-left: 40px;
    padding-top: 20px;
}

.name > h2 {
padding: 0px 0 20px 80px;
}

.name  img {
    width: 130px;
    padding: 10px 0 0px 60px;
}

.nav {
    grid-column: 8/13;
    justify-self: end;
    padding-right: 40px;
    padding-top: 50px;
}

.nav li {
    display: inline;
}
 .nav h2 {
     display: inline;
     padding: 0 6px 0 6px;
 }

 .open {
     color: #e2504f;
 }

/* body text */

/* index.html */

.intro {
    grid-column: 3/7;
    text-align: left;
    padding-top: 180px;
    padding-right: 20px;
    min-width: 300px;
}

.para-intro {
    font-family: "YoungSerif-Regular";
}

.sample {
    grid-row: 3;
    grid-column: 7/11;
    text-align: right;
    align-self: end;
}



.experience {
    grid-column:7/11;
    grid-row: 8;
    padding-bottom: 20px;
    min-width: 300px;
}



/* about-me.html */

.research-description {
    grid-column:7/11;
    grid-row: 1;
    padding-top: 180px;
    padding-left: 20px;
    margin-bottom: 80px;
}

.process-number {
    grid-column: 3/4;
    text-align: right;
    margin-right: 5em;  
}

@media screen and (max-device-width: 999px), 
screen and (-ms-high-contrast: active), 
screen and (-ms-high-contrast: none),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .process-number {
        text-align: left;
        margin: 0px;
    } 

    .research-description {
        padding-top: 0px;
        padding-left: 0px;
    }

}
 

.process-text {
    grid-column: 5/9;
    margin-bottom: 40px;
    padding-right: 20px;
}


.red-line {
    border-top: 1px solid #e2504f;
    grid-column: 3/5;
    grid-row: 4/4;
    margin-top: 0.5em;
    margin-left: 25%;
}


@media screen and (max-device-width: 480px), 
screen and (-ms-high-contrast: active), 
screen and (-ms-high-contrast: none),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .red-line {
       display: none;
    } 
}
 
.line-1 {
    grid-row: 4;
}


.line-2 {
    grid-row: 5;
}


.line-3 {
    grid-row: 6;
}


.line-4 {
    grid-row: 7;
}


.line-5 {
    grid-row: 8;
}


/* contact-me.hmtl */

.keep-in-touch {
    grid-row: 2;
    grid-column: 7/11;
}

.inline-contact .inline-link {
    margin-right: 10px;
    margin-left: 10px;
}

.inline-contact {
    margin-left: -10px;
}

.contact-photos {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-gap: 1em;
    grid-row: 3;
    grid-column: 3/11;
    margin-top: 50px;
}


 

.column-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 1em;
    grid-row: 1;
    grid-column: 1;
}

.column-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1em;
    grid-row: 1;
    grid-column: 2;
}

.column-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 1em;
    grid-row: 1;
    grid-column: 3;

}

@media screen and (max-device-width: 480px), 
screen and (-ms-high-contrast: active), 
screen and (-ms-high-contrast: none),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .contact-photos {
        display: block;
        padding: 0px;
        margin: 0px;
    }
    .column-1 {
        display: block;
    }

    .column-2 {
        display: block;
    }

    .column-3 {
        display: block;
    }
} 

.me {
    grid-row: 1/2;
}

.me img {
    width: 100%;
}


.notebook {
    grid-row: 2;
}

.notebook img {
    width: 100%;
}

.wall-hanging {
    grid-row: 1;
}

.wall-hanging img {
    width: 100%;
}

.bookshelf {
    grid-row: 2;
}

.bookshelf img {
    width: 100%;
}

.notebook-2 {
    grid-row: 1;
}

.notebook-2 img {
    width: 100%;
}

/* home photo grid */

.photo-grid {
    grid-column: 3/11;
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.photo-grid img {
    width: 100%;
}

/* added additional imgs to grid*/

.photo-gallery {
    display: grid;
    grid-template-areas: 
        "img-1 img-2 img-3"
        "img-4 img-5 img-6"
        "img-7 img-8 img-9"
        "img-10 img-11 img-12"
        "img-13 img-14 img-15"
        "img-16 img-17 img-18";
    grid-column: 3/11;
    grid-row: 2;
    padding-top: 30px;
    grid-gap: 20px;
}

@media screen and (max-device-width: 480px), 
screen and (-ms-high-contrast: active), 
screen and (-ms-high-contrast: none),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .photo-gallery {
        display: block;
 
    } 
}
 

.photo-gallery img {
    width: 100%;
    height: 100%;
}


.img-1 {
    grid-area: img-1;
}

.img-2 {
    grid-area: img-2;
}

.img-3 {
    grid-area: img-3;
}

.img-4 {
    grid-area: img-4;
}

.img-5 {
    grid-area: img-5;
}

.img-6 {
    grid-area: img-6;
}

.img-7 {
    grid-area: img-7;
}

.img-8 {
    grid-area: img-8;
}

.img-9 {
    grid-area: img-9;
}

.img-10 {
    grid-area: img-10;
}

.img-11 {
    grid-area: img-11;
}

.img-12 {
    grid-area: img-12;
}

.img-13 {
    grid-area: img-13;
}

.img-14 {
    grid-area: img-14;
}

.img-15 {
    grid-area: img-15;
}

.img-16 {
    grid-area: img-16;
}

.img-17 {
    grid-area: img-17;
}




/* project pages */

.project-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column: 3/11;
    grid-row: 2;
    margin-top: 180px;
    grid-gap: 40px 20px;
}

.project-name {
    font-family: "YoungSerif-Regular";
    font-size: 20px;
}

.client {
    font-family: "Raleway", sans-serif;
    font-size: 8px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: rgb(83, 83, 83);
    padding-top: 20px;
}



.project-intro-1 {
    grid-column: 1/4;
    padding-right: 20px;
}

.project-intro-1 h2 {
    padding-top: 0px;
}

.project-intro-1 p {
    padding-top: 10px;
}

.project-intro-2 {
    grid-column: 4/7;
    grid-row: 1;
    padding-top: 103px;
    padding-left: 20px;
}

.head-img {
    grid-column: 1/7;
}

.large-img-portrait {
    grid-column: 2/7;
    width: 400px;
}


.head-video {
    grid-column: 1/7;
}

.project-text-1 {
    grid-column: 1/4;
    padding-right: 20px; 
}

.project-text-2 {
    grid-column: 4/7;
    padding-left: 20px;
}

.small-img-1 {
    grid-column: 1/4;
}

.small-img-2 {
    grid-column: 4/7;
}

.half-portrait-1 {
    grid-column: 1/4;
    width: 100%;
    height: auto;
}

.half-portrait-2 {
    grid-column: 4/7;
    width: 100%;
    height: auto;
}

.img-full-width {
    width: 100%;
    height: auto;
}

.project-text-centre {
    grid-column: 2/6;
    text-align: center;
}

.small-img-3 {
    grid-column: 1/4;
}

.small-img-4 {
    grid-column: 4/7;
}

.quarter-img-1 {
    grid-column: 1;
}

.quarter-img-2 {
    grid-column: 2;
}

.quarter-img-3 {
    grid-column: 3;
}

.quarter-img-4 {
    grid-column: 4;
}

.quarter-imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/7;
    grid-gap: 20px;
}

@media screen and (max-device-width: 480px), 
screen and (-ms-high-contrast: active), 
screen and (-ms-high-contrast: none),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .quarter-imgs {
        display: block;
 
    } 
}

.large-img {
    grid-column: 1/7;
}

.project-grid img, .head-img img, .head-img-portrait img {
    width: 100%;
    height: 100%;
}

.thanks {
    grid-column: 2/6;
    text-align: center;
}

.row-1 {
    grid-row: 1;
}

.row-2 {
    grid-row: 2;
}

.row-3 {
    grid-row: 3;
}

.row-4 {
    grid-row: 4;
}

.row-5 {
    grid-row: 5;
}

.row-6 {
    grid-row: 6;
}

.row-7 {
    grid-row: 7;
}

.row-8 {
    grid-row: 8;
}

@media screen and (max-device-width: 480px), 
screen and (-ms-high-contrast: active), 
screen and (-ms-high-contrast: none),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .project-grid {
        display: block;
        margin: 0px;

    } 

.project-intro-1 {
    padding-top: 300px;
}

.project-intro-1 .project-title {
    margin: 0;
    padding-left: 70px;
    padding-top: 50px;
    padding-bottom: 30px;
}

    .project-intro-1 h2 {
        padding-left: 70px;
    }

    .project-intro-2 {
        margin: 0px;
        padding: 0px;
    }

    .project-text-1 {
        margin: 0px;
        padding: 0px;
    }

    .project-text-2 {
        margin: 0px;
        padding: 0px;
    }


    .project-grid p {
        text-align: left;
        padding: 0px;
    }

    .thanks p {
        text-align: center;
        margin: 0px;
    }

    .thanks .para-intro{
        text-align: center;
        margin: 100px 0px 30px 0px;
    }

    .thanks {
        margin: 60px 0;
    }

}

/* footer */

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
    grid-column: 1/13;
    grid-row: 13;
    background-color: #e2504f;
}

@media screen and (max-device-width: 480px), 
screen and (-ms-high-contrast: active), 
screen and (-ms-high-contrast: none), 
only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    footer {
        display: block;
    }

}

.footer-nav li {
    display: inline;
}

.footer-nav h2 {
    display: inline;
    padding: 0 6px 0 6px;
}


footer h1 {
    grid-column: 3/11;
    padding-top: 30px;
    padding-bottom: 10px;
}

.contact-details {
    grid-column: 8/13;
    text-align: right;
    display: inline;
    padding-right: 40px;
    padding-top: 55px;
}

footer p, 
footer h2, 
footer h1 {
    color: #f9d6de;
}

.contact-links {
    grid-column: 1/7;
    padding: 10px 0 30px 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #e2504f;
}

footer a:hover {
    color: white;
}

@media screen and (max-device-width: 480px), 
screen and (-ms-high-contrast: active), 
screen and (-ms-high-contrast: none),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .nav {
        display: none;
    }

    .contact-details {
        display: block;
        text-align: center;
    }

    .contact-details p {
        margin: 0px;
    }

    footer .contact-details {
        padding: 0px 0px 60px 40px;
    }

    footer .contact-links {
        text-align: center;
    }
}