@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
	font-family: 'youngserifregular';
	src: url('YoungSerif-Regular.eot');
}

@font-face {
	font-family: 'youngserifregular';
	src: url('YoungSerif-Regular.ttf') format('truetype'),
	url('YoungSerif-Regular.svg#youngserifregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    background-color: #ffebf0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f9d6de;
}

h1 {
    color: #e2504f;
    font-size: 28px;
    font-family: "YoungSerif-Regular", "Times", Serif;

}

h2 {
    font-family: "Raleway", sans-serif;
    font-size: 8px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: rgb(83, 83, 83);
}

h3 {
    font-family: "YoungSerif-Regular", "Times", Serif;
    font-size: 16px;
    color: rgb(83, 83, 83);
    letter-spacing: 0.3px;

}

p {
    font-family: "Baskerville", "Times", Serif;
    font-size: 14px; 
    color: rgb(83, 83, 83);
    letter-spacing: 0.4px;
}

.inline-link {
    font-style: italic;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #e2504f;
    margin-bottom: -1px;
}

.container > div{
    padding: 1em;
}


.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px auto);
}

.header {
    display: grid;
    background-color: #f9d6de;
    color: #6f6f6e;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
    grid-column: 1/7;
}

.header >div{
    padding: 1em;
}

.name{
    grid-column: 1/3;
}

.name > h2 {
text-align: center;
}

.nav{
    grid-column: 5/7;
}

.nav li {
    display: inline;
    padding-left: 2px;
}
 .nav h2 {
     display: inline;
 }
.intro {
    grid-column: 2/4;
}

.para-intro {
    font-family: "YoungSerif-Regular";
}

.sample {
    grid-row: 3;
    grid-column: 4/7;
}